sgi-publish-savecontract-api/src/main/mule/services/publish-contract-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd

http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="publish-contract-implFlow" doc:id="cdf4f57b-d211-4949-8bd5-9057e21ced05" >
		<flow-ref doc:name="Flow Reference to common-start-logger" doc:id="f2b13716-05e8-4507-a44a-b676ee82d81f" name="common-start-logger"/>
		<kafka:publish doc:name="Publish to Kafka Topic" doc:id="b5c3b835-ec3a-4d5e-bfd9-f9df130c0185" config-ref="Apache_Kafka_Producer_configuration" topic="${kafka.topic}" key="#[message.payload.eContract.contractID]"/>
		<ee:transform doc:name="Set Response" doc:id="124eb6ff-c52d-4b51-8ea0-4cdfa1ab5627" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
{
    "status":  "SUCCESS",
    "statusCode": 201,
    "responseDescription": "Contract published to Kafka Topic Successful"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference to common-end-logger" doc:id="1b766ae2-3920-409f-b3f5-d3dc7587b600" name="common-end-logger"/>
	</flow>
</mule>
