sgi-publish-savecontract-api/src/main/mule/router.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    
    <flow name="publish-contract-service-main">
        <http:listener config-ref="publish-contract-service-httpListenerConfig" path="/api/v1/save/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="ExtractingValues" doc:id="194d22fe-0b22-48d3-af82-15aab7f12504">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="requestPath"><![CDATA[%dw 2.0
output application/java
---
attributes.requestPath]]></ee:set-variable>
				<ee:set-variable variableName="flowName"><![CDATA[%dw 2.0
output application/java
---
flow.name]]></ee:set-variable>
				<ee:set-variable variableName="correlationId"><![CDATA[%dw 2.0
output application/java
---
if (attributes.headers.correlationId != null) attributes.headers.correlationId else correlationId]]></ee:set-variable>
				<ee:set-variable variableName="queryParams"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams default {}]]></ee:set-variable>
				<ee:set-variable variableName="originalPayload"><![CDATA[%dw 2.0
output application/json
---
payload default {}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="publish-contract-service-config" />
		<error-handler ref="generic-global-error-handler-REST" />
    </flow>
    <flow name="post:\contract:application\json:publish-contract-service-config">
        <flow-ref doc:name="Flow Reference to publish-contract-implFlow" doc:id="7afee6f1-d63c-41bb-8579-0bc97ae3406f" name="publish-contract-implFlow"/>
    </flow>
</mule>
